
<div class="swiper-container s1">
  <div class="swiper-wrapper">

  <% @books.each do |b| %>
    <div class="swiper-slide">
    <a href=<%= product_path(b) %>>
      <img alt='<% b.title %>' src='<%=b.front_page.url(:large)%>'>
      </div></a>
   <% end %>
    
    
   
    </div>
    </div>

  
    <h1> Latest Titles </h1>

    <div class="swiper-container s2">
  <div class="swiper-wrapper">
  <% @latest_books.each do |b| %>
    <div class="swiper-slide">
    <a href=<%= product_path(b) %>>
      <img alt='<% b.title %>' src='<%=b.front_page.url(:large)%>'>
      </div></a>
   <% end %>
    </div>
    </div>
 
    
       <h1> Authors</h1>

    <div class="swiper-container s3">
  <div class="swiper-wrapper">
  <% @latest_books.each do |b| %>
    <div class="swiper-slide">
    <a href=<%= product_path(b) %>>
      <img alt='<% b.title %>' src='<%=b.front_page.url(:large)%>'>
      </div></a>
   <% end %>
    </div>
    </div>


 
