<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
   
     <div class="date-field">
   
    <%= hidden_field :date, :value=> Date.current()%>
  </div>
     <div class="field">
 
    <%= f.hidden_field :user_id, :value=>current_user %>
  </div>
   
   <div class="date-field">
   
    <%= hidden_field :status, :value=> 1%>
  </div>
  <table class="table table-hover table-striped table-responsive">
  <tr>
  <th># </th>
  <th>Product Name </th>
  <th>Product Qty </th>
  <th>Product Cost Each </th>
  <th>Line Total </th>
  <th colspan=2></th>
  </tr>
  <% count=0 %>
  <%  @order.product_orders.each do |f| %>
  <tr>
  <% count=count+1%>
   <th scope="row"><%= count.to_s %></th>
 <td> <%=f.product.name %> </td>
 <td> <%=f.product_qty %></td>
<td>  <%=f.product_price %> </td>
<td> <%=f.product_price.to_f*f.product_qty.to_f %> </td>
<td> <%=link_to 'modify', edit_product_order_path(f.id) %> </td>  
<td> <%=link_to 'remove', product_order_path(f.id), method: :delete %> </td>
</tr>    
  <% end %>
  </table>

  <h2> Total Price ex Shipping ex Tax   :$  <%= @invoicetotal %></h2>
  <div class="field">
    <%= f.text_field :customer_order_no %> <b> Your Order Number </b>  <%= f.submit  "update", class: "btn btn-primary"%>
  </div>

   
 
  
  <div  class="actions">

  <%= f.submit 'checkout', formaction: checkoutorder_path(@order),class: "btn btn-success" %>
  </div>
  
<% end %>
