<div class="container">

<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

  
    </div>
  <% end %>
   <div class="field">
    <%= f.label :name %><br>
     <p><%= f.text_field :name %>
    </p>
    </div>
  <div class="field">
    <%= f.label :start_date %><br>
   <%= f.text_field :start_date, class: "datepicker col-xs-12" %>
    </div>
    <div class="field">
    <%= f.label :end_date %><br>
   <%= f.text_field :end_date, class: "datepicker col-xs-12" %>
    </div>
    <div class="field">
    <%= f.label :discount_amount %><br>
     <p> % <%= f.number_field :discount_amount, step: :any %>
    </p>
    </div>
   
    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


