

<h1>All Promotions</h1>

<table>
  <thead>
    <tr>
      <th> Promotion Name</th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Discount </th>
      <th colspan=3> </th>
    </tr>
    
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.name %>  </td>
        <td><%= promotion.start_date.strftime("%Y-%m-%d") %> </td>
        <td><%= promotion.end_date.strftime("%Y-%m-%d") %> </td>
        <td><%= promotion.discount_amount %>
        <td><%= link_to 'Show', promotion, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, class: "btn btn-warning", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path , class: "btn btn-primary"%>
