
  <div class="field">
   
     <p>Name: <%= @promotion.name %>
    </p>
    </div>
  <div class="field">
    <p> End Date: <%= @promotion.end_date.strftime("%Y-%m-%d") %>
  
    </div>
    <div class="field">
    <p> Start Date: <%= @promotion.start_date.strftime("%Y-%m-%d") %>
  
    </div
    <div class="field">
   
     <p> % Discount <%=@promotion.discount_amount %>
    </p>
    </div>
 <table class='table table-hover'>
     <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
     
    </tr>
  </thead>
  <% @count= 0.to_i %>
 <% @products.each do |p| %>
      <% @count=@count+1 %>
     <tr>
     <th scope="row"><%= @count %></th>
     <td> <%= p.title %> </td>
     <td> <%= p.author %> </td>
     <td> <%= p.year %> </td>
    
     </tr>
     <%end %>
    
    </table>

  



<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
