<p id="notice"><%= notice %></p>

       
    <% @products.each do |product| %>
      
  
      <div class="row jumbotron">
      <div  class="col-md-3"></div>
      <div class="col-md-3">
        <%= image_tag product.front_page.url(:large), class:"img-fluid"%>
        </div>
         <div class="col-md-3">
          <h1><%= product.title%></h1>
          <p >Name: <%= product.name  %> </p>
          <p>Author: <%= product.author %></p>
          
          <p> Year: <%= product.year %> </p>
           <p>Publisher: <%= product.publisher%> </p>
        <%= link_to 'Show', product,class: "btn btn-primary" %>
       <%if user_signed_in? then %>  <%= link_to 'Edit', edit_product_path(product),class: "btn btn-success" %>
        <%= link_to 'Destroy', product, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %> <%end%>
    </div>
    </div>
    
  
  
    <% end %>
 


<br>

<%if user_signed_in? then%> <%= link_to 'New Product', new_product_path,class: "btn btn-primary" %> <%end%>
